<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
Welcome to login
<form action="/LoginPost" method="post">
    <label>
        用户名：
        <input type="text" name="username" placeholder="请输入用户名">
    </label> <br>
    <label>
        密&nbsp;&nbsp;&nbsp;&nbsp;码：
        <input type="password" name="password" placeholder="请输入密码">
    </label><br>
    <button type="submit" ><a href="/LoginPost">登录</a></button>
    <button type="submit" ><a href="/register">注册</a></button>
</form>
</body>
</html>